*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    font-size: 2rem;
    width: 30rem;
    margin: 7rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1EC5DC;
}

.container div {
    margin-left: 1rem;
    
}